<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${book.name} | Books R Us`}) %>
    <link rel="stylesheet" href="/styles/book-details.css">
</head>

<body><!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${book.name} | Books R Us`}) %>
    <link rel="stylesheet" href="/styles/book-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img src="<%= book[0].photo %>">
        <h2 class="book-name"><%= book[0].name %></h2>
        <section>
            <p><strong>Title:</strong> <%= book[0].title %></p>
            <p><strong>Author:</strong> <%= book[0].author %></p>
            <p><strong>Release Date:</strong> <%= book[0].dateReleased %></p>
            <p><strong>Description:</strong> <%= book[0].description %></p>
            <p><strong>Rating:</strong> <%= book[0].rating %></p>
        </section>
    </div>
    <form method="POST" action="/reviews/new/<%= book[0].title %>?_method=get">
        <input class="btn" type="submit" value="Add Review" />
    </form>
    <section class="reviews">
        <% for (let review of reviews) { %>
            <p><strong>Title:</strong> <%= review.title %></p>
            <p><strong>Content:</strong> <%= review.content %></p>
            <p><strong>Reviewer:</strong> <%= review.reviewer %></p>
            <button class="btn"><a href="/reviews/<%= review._id %>/edit">Edit</a></button>
        <% } %>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/script.ejs') %>

</html>