<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${book.name} | Book Details`}) %>
    <link rel="stylesheet" href="/styles/book-details.css">
</head>

<body><!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${book.name} | Books R Us`}) %>
    <link rel="stylesheet" href="/styles/book-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="row">
        <div  class="col-2 col-sm-5"></div>
        <img class="col-8 col-sm-2" src="<%= book[0].photo %>">
        <div  class="col-2 col-sm-5"></div>
        <h2 class="book-name"><%= book[0].name %></h2>
        <section class="row col-12">
            <div  class="col-1 col-sm-4"></div>
            <p class="col-10 col-sm-4 row justify-content-around"><strong class="col-12">Title</strong><%= book[0].title %></p>
            <div  class="col-1 col-sm-4"></div>
            <div  class="col-1 col-sm-4"></div>
            <p class="col-10 col-sm-4 row justify-content-around""><strong>Author</strong> <%= book[0].author %></p>
            <div  class="col-1 col-sm-4"></div>
            <div  class="col-1 col-sm-4"></div>
            <p class="col-10 col-sm-4 row justify-content-around""><strong>Release Date</strong> <%= book[0].dateReleased %></p>
            <div  class="col-1 col-sm-4"></div>
            <div  class="col-1 col-sm-4"></div>
            <p class="col-10 col-sm-4 row justify-content-around""><strong>Description</strong> <%= book[0].description %></p>
            <div  class="col-1 col-sm-4"></div>
            <div  class="col-1 col-sm-4"></div>
            <p class="col-10 col-sm-4 row justify-content-around""><strong>Rating</strong> <%= book[0].rating %></p>
            <div  class="col-1 col-sm-4"></div>
        </section>
        <form method="POST" action="/reviews/new/<%= book[0].title %>?_method=get">
            <input class="btn col-8 col-sm-6" type="submit" value="Add Review" />
        </form>
        <section class="reviews row justify-content-around">
            <% let num = 0 %>
            <% for (let review of reviews) { %>
                <div class="col-1 col-sm-3"></div>
                <div class="reviewBox col-8 col-sm-4">
                <p><strong>Title:</strong> <%= review.title %></p>
                <p><strong>Content:</strong> <%= review.content %></p>
                <p><strong>Reviewer:</strong> <%= review.reviewer %></p>
                <button class="btn"><a class="btn" href="/reviews/<%= review._id %>/edit">Edit</a></button>
                </div>
                <div class="col-1 col-sm-3"></div>
            <% } %>
        </section>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/script.ejs') %>

</html>