<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Review'}) %>
    <link rel="stylesheet" href="/styles/review-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="listings">
            <h1>Review</h1>
                <p>Title: <%= review %></p>
                <p>Reviewer: <%= %></p>
                <p>Review: <%= %></p>
                <p>Date Created: <%= %></p>
                </br>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/script.ejs') %>

</html>