<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add a Review | Books R Us'}) %>
    <link rel="stylesheet" href="/styles/review-new.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="row">
    <div class="col-1 col-sm-3"></div>
    <h1 class="col-10 col-sm-6">New Review Form</h1>
    <div class="col-1 col-sm-3"></div>
    <div class="col-1"></div>
    <h1 class="col-10"><%= book[0].title %></h1>
    <div class="col-1"></div>
    <form class="row justify-content-around" method="POST" action="/reviews/create/<%= book[0].title %>">
        <!-- User ID input -->
        <div class="col-1"></div>
        <label class="col-10" for="reviewer">Reviewer:</label>
        <div class="col-1"></div>
        <div class="col-2"></div>
        <input class="col-8" type="text" id="reviewer" name="reviewer" placeholder="John Doe" required>
        <div class="col-2"></div>
        <!-- Review Title input -->
        <div class="col-1"></div>
        <label class="col-10" for="title">Title:</label>
        <div class="col-1"></div>
        <div class="col-2"></div>
        <input class="col-8" type="text" id="title" name="title" placeholder="Super good book!" required>
        <div class="col-2"></div>
        <!-- Review Content input -->
        <div class="col-1"></div>
        <label class="col-10" for="content">Content:</label>
        <div class="col-1"></div>
        <div class="col-2"></div>
        <textarea class="col-8" id="content" name="content" placeholder="I like this book because..." required></textarea>
        <div class="col-2"></div>
        <!-- Sumbit Review -->
        <div class="col-1 col-sm-4"></div>
        <input class="col-10 col-sm-4" type="submit" value="Create Review">
        <div class="col-1 col-sm-4"></div>
        
    </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/script.ejs') %>

</html>