<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add a Review | Books R Us'}) %>
    <link rel="stylesheet" href="/styles/review-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Edit Review Form</h1>

    <form method="POST" action="/reviews/<%= review.reviews[0]._id %>?_method=get">
        <!-- User ID input -->
        <p><%= review.reviews[0]._id %></p>
        <label for="reviewer">Reviewer:</label>
        <input type="text" id="reviewer" name="reviewer" value="<%= review.reviews[0].reviewer %>" required>
        <br>
        <!-- Review Title input -->
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= review.reviews[0].title %>" required>
        <br>
        <!-- Review Content input -->
        <label for="content">Content:</label>
        <textarea id="content" name="content" required><%= review.reviews[0].content %></textarea>
        <br>
        <!-- Sumbit Review -->
        <input type="submit" value="Edit Review">
        
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>