<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Furever Friends'}) %>
    <link rel="stylesheet" href="/styles/review-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="row">
        <div class="col-3"></div>
        <a class="col-6">SEARCH BAR</a>
        <div class="col-3"></div>
    </div>
    <main>
        <section class="listings">
            <h1>All Reviews</h1>
            <ul>
                <% for (let review of reviews) { %>
                <% if (review.reviews.length !== 0) { %>
                <% for (let rev of review.reviews) { %>
                <li>Title: <%= rev.title %></li>
                <li>Reviewer: <%= rev.reviewer %></li>
                <li>Review: <%= rev.content %></li>
                </br>
                <% } %>
                <% } %>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

<%- include('./partials/script.ejs') %>

</html>